﻿ 

<script type="text/javascript">
    $(document).ready(function () {
        $('#DashboardTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'close', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });

    });
</script>	
  <script>
  
      var mapId = 0;
      var estimatedTime = [];
      var originalRouteDrawn=[];
      var estimatedDistance = [];
      var check = 0;
      var OriginalRouteHash = [];// = {} ;
      var tempRouteHash = [];
      var fillroutecheck = 0;
  window.onload = function() {
    $.ajax({
          url: "/cluster/getCluster",
          type: "GET",
          data: {},
          dataType: "text",
                   
          complete: function() {

          },

          success: function(data, textStatus, xhr) {
            locations = data;
            locations=JSON.parse(locations);
            getWayPointList(locations);
            initMap(0);
          },
          error: function(){

          } 
      }); 
    
}
    $(document).ready(function() {
      $("#start-time").owlCarousel({
        items : 10,
		 navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
	  
	  $("#start-time2").owlCarousel({
        items : 10,
		 navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
	  
	  
	  $("#end-time").owlCarousel({
        items : 10,
		 navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
	  
	  $("#end-time2").owlCarousel({
        items : 10,
		 navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });

      $('.link').on('click', function(event){
        var $this = $(this);
        if($this.hasClass('clicked')){
          $this.removeClass('clicked');
        } else{
          $this.addClass('clicked');
        }
      });

$('.check-box li').click(function(){
  $(this).addClass("selected");
  
  
});
	
$('#sub').click(function(){
	var geocoder = new google.maps.Geocoder();
	
	
var address = $('#pac-input').val();

geocoder.geocode( { 'address': address}, function(results, status) {

  if (status == google.maps.GeocoderStatus.OK) {
    var latitude = results[0].geometry.location.lat();
    var longitude = results[0].geometry.location.lng();
    alert(latitude);
  } 
});

})

	var originalDiv = $("<input type='text' id='pacinput1' value='<%=CustomerRoute.first.name%> to <%=CustomerRoute.last.name%>' class='controls form-control' disabled=''/>");
	$("#original-route").append(originalDiv);

	$(".save").click(function(){
		alert("info");
	});
	
});
	
function initMap(mapToChange) {
var iw = [];
var marker = [];
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
  var centerLatLong = OriginalRouteHash[Math.ceil(OriginalRouteHash.length/2)].waypoints;
  var map = new google.maps.Map(document.getElementById('map'+ mapToChange), {
    zoom: 8,
    center: {lat: parseFloat(centerLatLong.lat), lng: parseFloat(centerLatLong.longt)}
  });
  directionsDisplay.setMap(map);
    for (var i = 0; i < OriginalRouteHash.length; i++) 
  {
    var icon_d;
    if (i==0){

      icon_d=  {
        path: google.maps.SymbolPath.CIRCLE,
            strokeColor: "red",
        fillColor: "red",
            scale: 3
      };
    }else if (i==OriginalRouteHash.length-1){

      icon_d=  {
        path: google.maps.SymbolPath.CIRCLE,
        strokeColor: "green",
        fillColor: "red",
        scale: 3
      };
    }else{

      icon_d=  {
        path: google.maps.SymbolPath.CIRCLE,
        strokeColor: "yellow",
        fillColor: "red",
        scale: 3
      };
    }
  var ways = OriginalRouteHash[i].waypoints;
  	 marker[i] = new MarkerWithLabel
  ({
  position: new google.maps.LatLng(parseFloat(ways.lat),parseFloat(ways.longt)),
       draggable: false,
       raiseOnDrag: true,
    icon: icon_d,
       map: map,
       labelContent: i,
       labelAnchor: new google.maps.Point(22, 0),
       labelClass: "labels", // the CSS class for the label
       labelStyle: {opacity: 1.0}

	});
	 iw[i] = new google.maps.InfoWindow({
       content: "2016-04-04 09:11:22",
     });
	google.maps.event.addListener(marker[i], 'click', (function(MarkerWithLabel, i) {
  return function() {
    iw[i].setContent(i+1)
		for(var z=0;z<OriginalRouteHash.length;z++ )
		{
            iw[z].close();
		}
    iw[i].open(map, marker[i]);
  }
})(marker[i], i));
}
//irectionsDisplay.setMap(map);


  if (mapId==0) {
    calculateAndDisplayRoute(directionsService, directionsDisplay);
  }else{

    fillRouteTable(mapToChange);
  }
}
function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  var waypts = [];

  if (OriginalRouteHash.length>1) {
    for (var i = 1; i < OriginalRouteHash.length-1; i++) {
      var ways = OriginalRouteHash[i].waypoints;
      waypts.push({
        location: new google.maps.LatLng(parseFloat(ways.lat), parseFloat(ways.longt)),
        stopover: true,
      });
    }
  }

  var sourceLatLong = OriginalRouteHash[0].waypoints;
	var destinationLatLong = OriginalRouteHash[OriginalRouteHash.length-1].waypoints;;
  directionsService.route({
    origin: new google.maps.LatLng(sourceLatLong.lat,sourceLatLong.longt),
    destination: new google.maps.LatLng(destinationLatLong.lat,destinationLatLong.longt),
    waypoints: waypts,
    optimizeWaypoints: true,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
     check =1;
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
	  directionsDisplay.setOptions( { suppressMarkers: true } )
      var route = response.routes[0];
      var summaryPanel = document.getElementById('directions-panel');
     // summaryPanel.innerHTML = '';
      // For each route, display summary information.
      for (var i = 0; i < route.legs.length; i++) {
       var data={};
        if (i==0) {
          data["lat"]=route.legs[0].start_location.lat();
          data["lng"]=route.legs[0].start_location.lng();
          data["label"]=i;
          data["eta"]=route.legs[0].duration.value;
          data["distance"]=route.legs[0].distance.value;
          data["people"]=OriginalRouteHash[i]["People"];

        }else if (i==route.legs.length-1){

          data["lat"]=route.legs[i].start_location.lat();
          data["lng"]=route.legs[i].start_location.lng();
          data["eta"]=route.legs[i].duration.value;
          data["distance"]=route.legs[i].distance.value;
          data["label"]=i;

          data["people"]=OriginalRouteHash[i]["People"];
        }else{

          data["lat"]=route.legs[i].start_location.lat();
          data["lng"]=route.legs[i].start_location.lng();
          data["label"]=route.waypoint_order[i-1]+1;
          data["eta"]=route.legs[i].duration.value;
          data["distance"]=route.legs[i].distance.value;

          data["people"]=OriginalRouteHash[route.waypoint_order[i-1]+1]["People"];

        }
        originalRouteDrawn.push(data);

      }
          if(fillroutecheck == 0)
	  	  fillRouteTable(0);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });

}
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer({ suppressMarkers: true });

  var onChangeHandler = function() {
    calculateAndDisplayRoute(directionsService, directionsDisplay);
	fillRouteTable(mapId);
  }

	function genrate_lower_table(){
	mapId++;
	var newTableDiv = $("<div class='col-md-5'><div class='table-data-hide' id='upper_Table'><div class='input-group'><input type='text' id='pacinput1' required='required' class='controls form-control' /><span class='input-group-addon'><a href='#'><i class='fa fa-times-circle-o' onclick='clear_pacinput1()'></i></a></span></div><table class='table-col' id='wayPointsOriginalTable"+mapId+"'><tr><th>Pick-up</th><th>People</th><th>ETA</th><th>KM</th><th>Price</th></tr> </table><div class='buttun-group'><a href='' class='btn bg-danger cancel' title='Cancel'>Cancel</a><span  class='btn btn-info save' title='Save' onclick = save(mapId)>Save</span><span class='btn btn-info ship' title='Ship' onclick = shipped(mapId)>Ship</span></div></div><div class='table-data-show' id='Lower_Table'></div></div>");
	var newMapDiv = $("<div class='col-md-7'><div class='location-map-dashboard' id='map"+mapId+"'></div></div>");      
     $("#mainDiv").append(newMapDiv);
	 $("#mainDiv").append(newTableDiv);
	 initMap(mapId);
	}

	function save(table_id){
		values = []
    path_name = $("#wayPointsOriginalTable"+table_id).parent().find('input[type=text]').val()
 		if(path_name.length != 0){
    $("#wayPointsOriginalTable"+table_id+" tr").each( function(){
				var map = new Object();
   			   //add item to array
 			    var $tds = $(this).find('td');
	            name = $tds.eq(0).text();
	            people = $tds.eq(1).text();
	            eta = $tds.eq(2).text();
	            km = $tds.eq(3).text();
	            price = $tds.eq(4).text();
	            if(name.length != 0 && people.length != 0 && eta.length != 0 && km.length != 0 && price.length != 0){
 			    	map['name'] = name.replace("+","").replace("-","");
 			    	map['people'] = people
 			    	map['eta'] = eta
 			    	map['km'] = km
 			    	map['price'] = price
 			    	map['status'] = 'saved'
 			    	values.push(map)
  			    }
 			    
  			    	
		});
		  
		$.ajax({
	        url: "/dashboard/save",
	        type: "POST",
	        data: {values : values,path_name: path_name},
	        dataType: "text",
	                 
	        complete: function() {

	        },

	        success: function(data, textStatus, xhr) {
	        	$("[aria-controls='tab_item-3']").trigger( "click" );
	        },
	        error: function(){

	        }	
	    });    
		}else{
      alert("please enter path name!")
    }
	}

	function shipped(table_id){
		values = []
    path_name = $("#wayPointsOriginalTable"+table_id).parent().find('input[type=text]').val()
		if(path_name.length != 0){
    $("#wayPointsOriginalTable"+table_id+" tr").each( function(){
				var map = new Object();
 			   //add item to array
 			    var $tds = $(this).find('td');
	            name = $tds.eq(0).text();
	            people = $tds.eq(1).text();
	            eta = $tds.eq(2).text();
	            km = $tds.eq(3).text();
	            price = $tds.eq(4).text();
	            if(name.length != 0 && people.length != 0 && eta.length != 0 && km.length != 0 && price.length != 0){
 			    	map['name'] = name.replace("+","").replace("-","");
 			    	map['people'] = people
 			    	map['eta'] = eta
 			    	map['km'] = km
 			    	map['price'] = price
 			    	map['status'] = 'saved'
 			    	values.push(map)
  			    }
 			    
  			    	
		});
		  
		$.ajax({
	        url: "/dashboard/shipped",
	        type: "POST",
	        data: {values : values,path_name : path_name},
	        dataType: "text",
	                 
	        complete: function() {

	        },

	        success: function(data, textStatus, xhr) {
            $("[aria-controls='tab_item-2']").trigger( "click" );
	        },
	        error: function(){

	        }	
	    });    
		}else{
      alert("please enter path name!")
    }
	}

	function triggersaveevent(){
		$("[aria-controls='tab_item-3']").trigger( "click" );
		
	}

	function triggershipevent(){
		$("[aria-controls='tab_item-2']").trigger( "click" );
		
	}

     function clear_pacinput1()
	{
	    $("#pacinput1").val(' ');
		document.getElementById("pacinput1").innerHTML = "";
	}

	function deleteCurrentRoute(a)
     {
 	    var rowIndex = $(a).closest('tr').rowIndex;
      node = $(a).parent().text().replace("+","").replace("-","");
	    mapId = a.parentNode.parentNode.parentNode.parentNode.id.slice(-1);
    var p=a.parentNode.parentNode;
    p.parentNode.removeChild(p);
    first = a.parentNode.parentNode.children[0]
    removefromOriginalRouteHash(OriginalRouteHash, node);
	}
	
	function addNextRow(b)
	{
	   alert("hu");
	}
	
	function getWayPointList(locations)
	{
     

     for(var i=0;i<locations.length;i++){
    
      OriginalRouteHash.push({ label : "", waypoints :{lat : locations[i]['lat'],longt : locations[i]['lng']},price : '3',People : locations[i]["people"]});
    }

 
									  
	}


	
	function  fillRouteTable(routeMapId)
	{	
	    for(var i=0; i< originalRouteDrawn.length;i++)
		{
	        var row = $("<tr><td>"+(originalRouteDrawn[i]["label"])+" <span class='btn btn-info' title='Add'>+</span> <span  class='btn bg-danger' title='Delete' onclick='deleteCurrentRoute(this)'>-</span></td><td>" + originalRouteDrawn[i]["people"] +"</td><td>"+originalRouteDrawn[i]["eta"]+"</td><td>"+originalRouteDrawn[i]["distance"]+"</td><td>" +10+"/km </td></tr>");
         var tableId = "#wayPointsOriginalTable" + routeMapId;
         $(tableId).append(row);
		}
	}

	function removefromOriginalRouteHash(OriginalRouteHash, keytoRemove) {
	    tempRouteHash = OriginalRouteHash;
	    tempRouteHash.splice(keytoRemove, 1);
	    fillroutecheck = 1;
	    initMap(mapId);
	}

  function redirect(id){
     location.href = "/routes/saved?id="+id
  }
    </script>
</head>

<body>
<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->
<div class="layout-theme animated-css"  data-header="sticky" data-header-top="200"> 
  <div id="wrapper"> 

     <section class="section-default">
        <div class="container"> 
          
           <div class="row">
            
          <div class="col-md-12 wow zoomIn" data-wow-duration="1s">
		  
		 <div id="DashboardTab">
		  <ul class="resp-tabs-list">
		    <li>Home</li>
		    <li>Live</li>
		    <li>Shipped</li>
			<li>Saved</li>
			<li>All</li>
		  </ul>
  <div class="resp-tabs-container">
  <!--Tab-->
    <div>
	<div class="row data-scroll">
        <div id="mainDiv">
            <div class="col-md-7">
                    <div class="location-map-dashboard" id="map0">
                    </div>
            </div>

            <div class="col-md-5 hide-data">
                <div class="table-data-hide">

                    <div class="input-group">

                        <input type="text" id="pacinput1" value="Subsection Route: Najafgarh-Convergys" class="controls form-control" />
                        <span class="input-group-addon"><a href="#" ><i class="fa fa-times-circle-o" onclick="clear_pacinput1()"></i></a></span>
                    </div>
                    <div id="original-route"></div>

                    <table class="table-col" id="wayPointsOriginalTable0">
                        <tr>
                            <th>Pick-up</th>
                            <th>People</th>
                            <th>ETA</th>
                            <th>KM</th>
                            <th>Price</th>
                        </tr>
                    </table>
                    <div><span  onclick="triggersaveevent()" id="save"><%="Saved Routes" if RouteSuggestionsRoute.find_by(state: 'saved') != nil%></span>
						<span  onclick="triggershipevent()" id="ship" style="margin-left:10%;"><%="Shipped Routes" if RouteSuggestionsRoute.find_by(state: 'shipped') != nil%></span>
                    </div>
                    <div class="buttun-group">

                        <!-- <a href="#" class="btn bg-danger" title="Cancel">Cancel</a>
                        <a href="#" class="btn btn-info" title="Save">Save</a>
                        <a href="#" class="btn btn-info" title="Ship">Ship</a> -->
                    </div>

                </div>
                <div class="form-group static-ch clearfix">
                    <button class="btn btn-info" type="button" onclick="genrate_lower_table()"><span>Make New Route</span> <i class="fa fa-plus-circle"></i> </button>
                </div>
                <div class="table-data-show" id="Lower_Table">



                </div>


            </div>
           
        
        
        
         </div>
        </div>
	<!--End row-->
     </div>
	 <!--Tab-->
    <div>
      <div class="table-ship-block">
  <div class="mo-scrl">
  <table class="table-col">
  <tr>
  <th>Route ID</th> <th>Route Name</th><th>Pickup Point</th><th>Pledges</th>
  </tr>
<%RouteSuggestion.all.each do |route|
  route.route_suggestions_slots.each do |slot|
  %> 
  <tr>
    <td><span onclick=redirect(<%=route.id%>) style="cursor:pointer"><u><%=route.id%></u></span></td>
    <td><%=route.name%></td>
    <td><%=slot.name%></td>
    <td><a href="/points/pledges?pickup_point_id=<%=slot.id%>"><%=RouteSuggestionsPledge.where(route_suggestions_slot_id: slot.id).count%></a></td>
  </tr>
<%
end
end%> 
  
  </table>
  </div>
</div>
    </div>
    <div>
    <div class="table-ship-block">
	 
 
	<div class="mo-scrl">
	<table class="table-col">
	<tr>
	<th>Route ID</th> <th>Date Saved</th> <th>Last Modified</th> <th>Type</th>  <th>Start</th> <th>Stop</th> <th>Points</th> <th>KM</th> <th>ETA</th><th>Price</th> <th>Pricing</th><th>Slots</th><th>Potencial</th><th>Pledge</th><th>Feedback</th>
	</tr>
	<%RouteSuggestionsRoute.where(state: 'shipped').each do |route|%>	
	<tr>
	<td><span onclick=redirect(<%=route.id%>) style="cursor:pointer"><u><%=route.id%></u></span></td>
	<td><%=route.created_at.strftime("%d %b, %Y")%></td>
	<td><%=route.updated_at.strftime("%d %b, %Y")%></td>
	<td><%=route.route_type%></td>
	<td><%=route.start%></td>
	<td><%=route.stop%></td>
	<td>5</td>
	<td>15</td>
	<td>45 min</td>
	<td>2-3Km</td>
	<td>Differencial</td>
	<td>
    <%slots = RouteSuggestionsRoute.route_pledge(route.id)%>
		<a href = "/routes/pledges?route_id=<%=route.id%>&type=M">M<%=slots[:m]%></a>
    <a href = "/routes/pledges?route_id=<%=route.id%>&type=E">E<%=slots[:e]%></a>
	</td>
	<td>98</td>
	<td>33</td>
	<td><a href="#">3</a> New</td>
	</tr>
<%end%>	
	
	 
	
	 
	
	
	</table>
	</div>
	</div>
	</div>
	<div>
      <div class="table-ship-block">
	<div class="mo-scrl">
	<table class="table-col">
	<tr>
	<th>Route ID</th> <th>Date Saved</th> <th>Last Modified</th> <th>Type</th>  <th>Start</th> <th>Stop</th> <th>Points</th> <th>KM</th> <th>ETA</th><th>Price</th> <th>Pricing</th><th>Slots</th><th>Potencial</th><th>Pledge</th><th>Feedback</th>
	</tr>
<%RouteSuggestionsRoute.where(state: 'saved').each do |route|%>	
	<tr>
	<td><span onclick=redirect(<%=route.id%>) style="cursor:pointer"><u><%=route.id%></u></span></td>
	<td><%=route.created_at.strftime("%d %b, %Y")%></td>
	<td><%=route.updated_at.strftime("%d %b, %Y")%></td>
	<td><%=route.route_type%></td>
	<td><%=route.start%></td>
	<td><%=route.stop%></td>
	<td>5</td>
	<td>15</td>
	<td>45 min</td>
	<td>2-3Km</td>
	<td>Differencial</td>
	<td>
		<%slots = RouteSuggestionsRoute.route_pledge(route.id)%>
    <a href = "/routes/pledges?route_id=<%=route.id%>&type=M">M<%=slots[:m]%></a>
    <a href = "/routes/pledges?route_id=<%=route.id%>&type=E">E<%=slots[:e]%></a>
	</td>
	<td>98</td>
	<td>33</td>
	<td><a href="#">3</a> New</td>
	</tr>
<%end%>	
	
	</table>
	</div>
</div>
    </div>
	<div>
      <p>Suspendisse blandit velit Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravid urna gravid eget erat suscipit in malesuada odio venenatis.</p>
    </div>
  </div>
</div>
 
         </div>
		<!-- end coll --> 
		 
         </div>
         
        </div>
        <!-- end container --> 
      </section>
      <!-- end section-default -->
   
    
    
  </div>

 <!-- end wrapper --> 
</div>
<!-- SCRIPTS --> 

	
 