<script>
       
  window.onload = function() {
  initMap();
};

function initMap() {
 
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
   map = new google.maps.Map(document.getElementById('map'), {
    
    center: {lat: 28.5747488, lng: 77.3538323}
  });
  directionsDisplay.setMap(map);
calculateAndDisplayRoute(directionsService, directionsDisplay);

      
}
function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  var waypts = [];
  waypts.push({
        location: new google.maps.LatLng(<%=params[:slat]%>,<%=params[:slng]%>),
        stopover: true
      });
     waypts.push({
        location: new google.maps.LatLng(<%=params[:dlat]%>,<%=params[:dlng]%>),
        stopover: true
      });
     
  directionsService.route({

    origin: '<%=params[:slat]%>,<%=params[:slng]%>',
    destination: '<%=params[:dlat]%>,<%=params[:dlng]%>',
    waypoints: waypts,
    optimizeWaypoints: true,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      var route = response.routes[0];
      var summaryPanel = document.getElementById('directions-panel');
      for (var i = 0; i < route.legs.length; i++) {
        var routeSegment = i + 1;
            '</b><br>';
      }
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}


  $(document).ready(function(){
      $("#not-interested").click(function(){
        params = window.location.href.split('?')[1]
        location.href = '/routes/not_interested?'+params
    }); 
  })
    </script>
	
</head>

<body>
<!-- Loader -->
<!-- <div id="page-preloader"><span class="spinner"></span></div> -->
<!-- Loader end -->
<div class="layout-theme animated-css"  data-header="sticky" data-header-top="200"> 
  <div id="wrapper"> 

  
    
    <!-- HEADER -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12"> <a class="header-logo" href=""><img class="header-logo__img" src="/assets/logo.png" alt="Logo"></a>
            <div class="header-inner">Home: Office Pickup: Drop for Odd:Even 2.0.</div> 
          </div>
          <!-- end col  --> 
        </div>
        <!-- end row  --> 
      </div>
      <!-- end container--> 
    </header>
    <!-- end header -->
     <section class="section-default">
        <div class="container"> 
          
           <div class="row">
            
          <div class="col-md-12 wow zoomIn" data-wow-duration="1s">
		  <div class="location-map-block">
		  <h5><%=session[:s]%> - <%=session[:d]%></h5>
		  <div id="map"> </div>
		 </div> 
		 <div class="book-status-block">
		 <div class="book-staff-right"><span class="frequency">5-15 min</span><br>Frequency</div>
		 <div class="book-staff-left">
		 
		 <div class="time-slot"><span>Timing</span><div class="hour-sl-co">(Hrs)</div>    </div> <div class="hour-sl">07:30-11:30<br>15:30-20:30</div>

		 
		 </div>
		 <div class="clearfix"></div>
		 </div>
		 
		 
		<!-- end location-map -->
		<!-- star time -->
		<div class="">
		<div class="button-block">
		 <h5>To Travel on this route</h5>
		  <button class="btn btn-info" type="button"><a herf="https://play.google.com/store/apps/details?id=app.goplus.in.myapplication">Download the App</a> </button>
      <button class="btn bg-danger" type="button" id="not-interested">Not Interested <i class="fa fa-ban"></i> </button>
		 
		  </div>
		  
		  <div class="social-media">
		  <p>Spread the word and earn free rides*</p>
		  <a href="https://www.facebook.com/sharer/sharer.php?u=http://52.38.247.134&t=Shuttl"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
		  <a href="whatsapp://send?text=http://52.38.247.134/"><i class="fa fa-whatsapp"></i></a>
		  </div>
		  
		 </div>
		 <!-- end time -->
		 
         </div>
		<!-- end coll --> 
		 
         </div>
         
        </div>
        <!-- end container --> 
      </section>
      <!-- end section-default -->
   
    
    
  </div>

 <!-- end wrapper --> 
</div>
<!-- SCRIPTS --> 

	
 