 
 
 <script>
  window.onload = function() {
   initMap();
  };
     
var waypts = [];
 function initMap() {
      var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 6,
    center: {lat: 28.5747488, lng: 77.3538323}
  });
  directionsDisplay.setMap(map);
calculateAndDisplayRoute(directionsService, directionsDisplay);

var pmarker = new MarkerWithLabel({
     position: new google.maps.LatLng(<%=session[:from][0]%>, <%=session[:from][1]%>),
     draggable: false,
     raiseOnDrag: false,
     map: map,
     labelContent: "<%=session[:s]%>",
     labelAnchor: new google.maps.Point(22, 0),
     labelClass: "pickup-labels", // the CSS class for the label
     labelStyle: {opacity: 0.75},
     
});
       
 var piw = new google.maps.InfoWindow({
   content: "<%=session[:d]%>"
 });


google.maps.event.addListener(pmarker, "click", function (e) { piw.open(map, this); });

/////////////////drop point marker/////////////////
var dmarker = new MarkerWithLabel({
     position: new google.maps.LatLng(<%=session[:to][0]%>, <%=session[:to][1]%>),
     draggable: false,
     raiseOnDrag: false,
     map: map,
     labelContent: "<%=session[:d]%>",
     labelAnchor: new google.maps.Point(22, 0),
     labelClass: "pickup-labels", // the CSS class for the label
     labelStyle: {opacity: 0.75},
     
});
       
 var diw = new google.maps.InfoWindow({
   content: "<%=session[:d]%>"
 });


google.maps.event.addListener(dmarker, "click", function (e) { diw.open(map, this); });


  <%
  slots = RouteSuggestionsSlot.slot_points(session[:home_route_id])
  
  slots.each_with_index do |route,index|%>
  <%if index != 0 && index != slots.length-1%>
     waypts.push({
        location: new google.maps.LatLng(<%=route.lat%>,<%=route.long%>),
        stopover: true

      });
  <%end%>   
       <%end%>
  

 
function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  

/////////////////pickup point marker/////////////////   

   
  directionsService.route({

    origin: '<%=session[:s]%>',
    destination: '<%=session[:d]%>',
    waypoints: waypts,
    optimizeWaypoints: true,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      var route = response.routes[0];
      var summaryPanel = document.getElementById('directions-panel');
   
      for (var i = 0; i < route.legs.length; i++) {
        var routeSegment = i + 1;
        
      }
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
  var map = new google.maps.Map(document.getElementById('googleMap'), {
    zoom: 7,
    center: {lat: 41.85, lng: -87.65}
  });
  directionsDisplay.setMap(map);

  var onChangeHandler = function() {
    calculateAndDisplayRoute(directionsService, directionsDisplay);
  };
   
}

function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  directionsService.route({
    origin: "#{session[:s]}",
    destination: "#{session[:d]}",
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

    $(document).ready(function() {

      $("#start-time").owlCarousel({
        items : 10,
		 navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
	  
	  $("#start-time2").owlCarousel({
        items : 10,
		 navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
	  
	  
	  $("#end-time").owlCarousel({
        items : 10,
		 navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
	  
	  $("#end-time2").owlCarousel({
        items : 10,
		 navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });

      $('.link').on('click', function(event){
        var $this = $(this);
        if($this.hasClass('clicked')){
          $this.removeClass('clicked');
        } else{
          $this.addClass('clicked');
        }
      });

$('.check-box li').click(function(){
  $(this).addClass("selected");
  
  
});
	
$("#not-interested").click(function(){
    params = window.location.href.split('?')[1]
    location.href = '/routes/not_interested?'+params
});  

  $("#home-change").click(function(){
    location.href = "/routes?route_id=<%=session[:home_route_id]%>&drop_point_id=<%=session[:drop_point_id]%>"
  });

  $("#work-change").click(function(){
    location.href = "/routes/return?route_id=<%=session[:work_route_id]%>&drop_point_id=<%=session[:pickup_point_id]%>"
  });

});
	
	
	
    </script>
	
	
 
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->
<div class="layout-theme animated-css"  data-header="sticky" data-header-top="200"> 
  <div id="wrapper"> 
 
    <!-- HEADER -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12"> <a class="header-logo" href="index.html"><img class="header-logo__img" src="/assets/logo.png" alt="Logo"></a>
            <div class="header-inner">Home: Office Pickup: Drop for Odd:Even 2.0.</div> 
          </div>
          <!-- end col  --> 
        </div>
        <!-- end row  --> 
      </div>
      <!-- end container--> 
    </header>
    <!-- end header -->
     <section class="section-default">
        <div class="container"> 
          
           <div class="row">
            
          <div class="col-md-12 wow zoomIn" data-wow-duration="1s">
		  <div class="Booking-status">
		  <h5><%=RouteSuggestion.find(params[:route_id]).name%></h5>
		  <div class="location-map-block mo-none">
		  <div id="map"></div>
		  </div>

		  <ul class="book-detail clearfix">
      <li>
      <div class="change-col">
      <span class="change-link"><a href="#" id="home-change">Change</a></span>
      <div class="book-title">
		  <h5>Going to work</h5>
		  
		   
		  </div>

<%if session[:home_slot] != nil%> 
  <div style="margin-left:2%;">  
		  <p>Depart: <%=session[:s]%> @ <%=RouteSuggestion.home_depart(params[:route_id],session[:home_slot],session[:drop_point_id],session[:pickup_point_id])%>
		   <br>
		  Arrives: <%=session[:d]%> @  <%=session[:home_slot]%>
  </div>      
		   
		  <em><%=RouteSuggestionsPledge.total_pledge(params[:route_id])%> more ppl required to louch root</em>
		  </p>
      
		  </li>
      <%else%>
        <em>No timeslot was selected</em>
        <br><br>		  
      <%end%>		  
		  <li class="col-md-6">
		  <div class="change-col">
		  <h5>Return from work</h5>

		  <span class="change-link"><a href="" id="work-change">Change</a></span>
		  </div>
<%if session[:work_slot] != nil%> 
  <div style="margin-left:2%;">  
		  <p>Depart: <%=session[:d]%> @ <%=session[:work_slot]%>
		  <br>
		  Arrives: <%=session[:s]%> @ <%=RouteSuggestion.home_arrive(params[:route_id],session[:work_slot],session[:drop_point_id],session[:pickup_point_id])%>
  </div>		  
		  <em><%=RouteSuggestionsPledge.total_pledge(params[:route_id])%>  more ppl required to louch root</em>
		  </p>
      <%else%>
        <p>No timeslot was selected</p>	
        <br><br>	  
      <%end%>		  
		  </li>
		  
		  </ul>
		  
		 </div> 
		<!-- end Booking status -->
		<!-- star time -->
		<div class="travel-time-block">
		
		 <div class="button-col">
		  <h5>To Travel on this route select a pass</h5>
		  <a class="btn btn-info">10 Rides @ Rs.499</a>
		  <a class="btn btn-info">Promo Monthly @ Rs.1800</a></i></button>
		  </div>
		 <p class="font-s">(we'll change your wallet just before lounching the services)</p>
		  <div class="button-block">
		 
		  <button class="btn bg-danger" type="button" id="not-interested">Not Interested <i class="fa fa-ban"></i></button>
		  </div>
		  <div class="social-media">
		  <p>Spread the word and earn free rides*</p>
		  <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-whatsapp"></i></a>
		  </div>
		  
		 </div>
		 <!-- end time -->
		 
         </div>
		<!-- end coll --> 
		 
         </div>
         
        </div>
        <!-- end container --> 
      </section>
      <!-- end section-default -->
   
    
    
  </div>

 <!-- end wrapper --> 
</div>
<!-- SCRIPTS --> 