<!DOCTYPE html>
<html>
<head>
  <title>First</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWdJ3F1a1pmCUjyHaINmV1_nOJ6hpbArM&libraries=places" type="text/javascript"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag '/assets/bootstrap.min.js' %>
   <%= javascript_include_tag '/assets/custom.min.js' %>
  <%= javascript_include_tag '/assets/jquery-1.11.3.min' %>
  
 
  
  <%= javascript_include_tag '/assets/markerwithlabel.js' %>

  <%= javascript_include_tag '/assets/owl.carousel.min.js' %>

  <%= javascript_include_tag '/assets/wow.js' %>

  <%= stylesheet_link_tag '/assets/animate.css'%>
  <%= stylesheet_link_tag '/assets/bootstrap.css'%>  
  <%= stylesheet_link_tag '/assets/font-awesome.css'%>
  <%= stylesheet_link_tag '/assets/main.css'%>
  <%= stylesheet_link_tag '/assets/owl.carousel.css'%>
  <%= stylesheet_link_tag '/assets/responsive.css'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% if alert %>
      <div id="alert"><%= alert %></div>
<% end %>
<%= yield %>

</body>
</html>
